<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button @click="puxarAcoes()" >puxarAcoes</button>
      <p>latestPrice: {{acoes.latestPrice}}</p>
      <p>latestTime: {{acoes.latestTime}}</p>
      <p>companyName: {{acoes.companyName}}</p>
      <!-- <p>{{acoes}}</p> -->
    </div>
    <script>
     const vm = new Vue({
       el: '#app',
       data:{
         acoes: {},
       },
       methods:{
        puxarAcoes(){
          fetch('https://cloud.iexapis.com/stable/stock/aapl/quote?token=pk_4196d3bd666b4a828a3b0491969716b9')
          .then( res => res.json())
          .then(json => {
            this.acoes = json
          })
        }
       }
     })
     setTimeout(() => {
       vm.logado = 'Sim'
     },2000)
    </script>
  </body>
</html>
