<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
     <button @click="contador++" >Contador</button>
     {{contador}}
     <br> <br>
     <button @click="ativo = !ativo" >Togle</button>
     {{ativo}}
    </div>
    <script>
     const vm = new Vue({
       el: '#app',
       data:{
         contador: 0,
         ativo: true,
       },
       methods:{
        handleClick(e){

        }
       }
     })
     setTimeout(() => {
       vm.logado = 'Sim'
     },2000)
    </script>
  </body>
</html>
