<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      {{empresa}}, {{prodruto}}
    </div>
    <script>
     const vm = new Vue({
       el: '#app',
       data:{
         logado: '',
         empresa: 'apple',
         prodruto: 'iphone'
       }
     })
     setTimeout(() => {
       vm.logado = 'Sim'
     },2000)
    </script>
  </body>
</html>
