<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Vue</title>
  </head>
  <body>
    <div id="app">
      <div v-show="comprou" :style="{background: cor}" >
        <h1>{{titulo}}</h1>
        <p>{{conteudo}}</p>
        <p> {{lado * lado - lado / 100}} </p>
        <p> {{ comprou ? 'Sim ele comprou': 'Não comprou, compre aqui'  }} </p>
        <input v-model="cor" type="color">
      </div>

      <a :href="href">{{href}}<a/>
    </div>

    <script>
      const vm = new Vue({
        el:'#app',
        data:{
         titulo: 'Curso de JavaScript',
         conteudo: 'Esse é o conteudo',
         lado: 5,
         comprou: true,
         href: 'https://origamid.com',
         cor: '#cecece'
        }
      })
    </script>
  </body>
</html>
