<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      {{total}}
      <button @click="incrementar" >Incrementar</button>
      <button @click="diminuir" >diminuir</button>

      <p>{{instrumento}}</p>
      <button @click="mudarNome('Violão')" >Violão</button>
      <button @click="mudarNome('Guitarra')" >Guitarra</button>
    </div>
    <script>
     const vm = new Vue({
       el: '#app',
       data:{
         total: 0,
         instrumento: ""
       },
       methods: {
         incrementar(){
            this.total++
         },
         diminuir(){
           this.total--
         },
         mudarNome(instrumento){
          this.instrumento = instrumento
         }
       }
     })
     setTimeout(() => {
       vm.logado = 'Sim'
     },2000)
    </script>
  </body>
</html>
